body {
    font-family: arial;
    font-size: 17px;
    margin: 0;
    background: #FFFFFF;
    color: #333847;
}

h1 {
    margin: 0;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 1.75em 0 1em;
}
h3, .detail_right p strong {
    font-size: 16px;
    margin: 1.2em 0 0.5em;
    color: #333847;
}

p {
    color: #8F94A3;
}

a {
    text-decoration: none;
    color: #F8938A;
}
a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    margin: 1.5em 0;
}

table, th, td {
    border: 1px solid black;
}

hr {
    border: none;
    border-top: 1px solid #D2D2D2;
    margin: 1.5em 0;
}

.header {
    display: block;
    /* background: #ffafa1; */
    background: #333847;
    height: 48px;
    width: 100%;
    position: fixed;
    z-index: 500;
    box-shadow: 0px -5px 25px 5px #242733 !important;
    text-align: center;
}
.nav_container {
    padding: 0 7em;
    display: inline-block;
    line-height: 48px;
}
.nav_container a {
    color: #F8938A;
    padding: 1em;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    transition: color 0.5s;
}
.nav_container a:hover {
    color: #F0F1E9;
    text-decoration: none;
}
.nav_logo {
    float: left;
    padding: 0 1em 0 8em;
}
.nav_logo a {
    font-family: 'Gugi', cursive;
    /* color: white; */
    /* color: #ffafa1; */
    font-size: 20px;
    padding: 0;
}
.nav_left {
    float: left;
    padding: 0;
}
.nav_right {
    float: right;
}
.nav_right a img {
    width: 22px;
    height: auto;
    vertical-align: middle;
}

img {
    width: 100%;
}
.img_cover {
    position: relative;
    width: 100%;
    height: 80%;
    padding-top: 48px;
    background-image: url("../image/cover.jpg");
    background-size: cover;
    background-position: top;
}

.content_container {
    padding: 0 8em 48px;
}
.header_space {
    padding-bottom: 48px;
}

.project_container {
    width: 100%;
    margin-top: 1em;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 35px;
}
.project_item {
    margin-bottom: 2em;
}
.project img {
    width: 100%;
    height: 14em;
    object-fit: cover;
    margin-bottom: 8px;
}
.project {
    position: relative;
    /* text-align: center; */
}
.project_category,.project_author, .pinfo {
    color: #C1C3C5;
    font-size: 13px;
    text-transform: uppercase;
}
.pinfo {
    text-transform: none;
}
.project_author {
    text-transform: none;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 14em;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.2s;
}
.overlay:hover {
    background-color: rgba(51, 56, 71, 0.5);
}

/* --------------------------------------------------------------------------- */
/* login and signup */
.center_screen {
    padding-top: 3%;
}

.center_screen .form_container {
    width: 35%;
    margin: auto;
    text-align: center;
}
.form_container h2 {
    font-size: 32px;
    color: #333847;
}
.form_container a {
    color: #333847;
}
.form_container strong {
    color: #F8938A;
}
form p {
    margin-bottom: 0;
    text-align: left;
}

input {
    width: 100%;
    border: 1px solid lightGray;
}
input:disabled {
    background: #F9EDED;
}
input:focus, textarea:focus, select:focus {
    outline: 1px solid #F8938A;
    border: 1px solid #F8938A;
}
input[type=button]:focus{
    outline:1px solid #D3D3D3;
    border:1px solid #D3D3D3;
}
input[type=text], input[type=password], input[type=submit], textarea, input[type=button], input[type=number] {
    padding: 12px 20px;
    margin: 8px 0 15px;
    box-sizing:border-box;
}
input[type=submit] {
    color: #FFFFFF;
    background: #FFAFA1;
    border: none;
    margin-top: 15px;
    transition: all 0.2s;
    font-weight: bold;
}
input[type=submit]:hover {
    background-color: #F8938A;
}
input[type=submit].pin_button {
    margin: 1.5em 0;
}
input[type=button] {
    background: lightGray;
}
h3 input[type=button] {
    width: 10%;
    text-align: center;
    float: right;
    line-height: 17px;
    padding: 2px 0;
    margin: 0;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 15px;
}
option:checked {
    color: #F8938A;
}

#searchForm input[type=radio], #searchForm input[type=checkbox] {
    width: auto;
}

#searchFilter {
    /* display: none; */
}

input[type="file"] {
    margin: 8px 0 15px;
    height: 43px;
}
input[type="file"]::-webkit-file-upload-button {
    background: lightGray;
    border: none;
    height: 41px;
    cursor: pointer;
    width: 30%;
}

input[type="file" i] {
    /* color: red; */
    cursor: pointer;
    height: 43px;
    /* width: 70%; */
}
/* --------------------------------------------------------------------------- */
/* error display*/
.errors {
    text-align: left;
    color: red;
}



/* --------------------------------------------------------------------------- */
/* project details page*/
.project_detail_wrapper {
    width: 100%;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-column-gap: 35px;
    grid-row-gap: 0;
}

.detail_left {
    grid-column: auto / span 2;
}
.detail_left img {
    height: 435px;
    width: 100%;
    object-fit: cover;
}
.detail_right p {
    margin: 0 0 1.5em;
}
.material_list {
    list-style-type: none;
    padding: 0 1em 0;
}
.process_list {
    list-style-type: none;
    padding: 0 2em 0;
}
.material_list li, .process_list li {
    margin: 1em 0;
    color: #8F94A3;
}
.process_list li {
    counter-increment: li;
}
.material_list li::before {
    content: "\2724";
    color: #F8938A;
}
.process_list li::before {
    content: counter(li);
    color: #F8938A;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}
.process_list li img {
    height: auto;
    margin: 0.5em 0;
}

.br-widget {
    margin: 1.5em 0;
    height: 1em !important;
}
.br-theme-fontawesome-stars .br-widget a:after {
  color: #E5D8D7 !important;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: #F8938A !important;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color: #F8938A !important;
}
.br-theme-fontawesome-stars .br-widget .br-current-rating {
  display: none;
}


.comment_block {
    padding-left: 1em;
}
p.comment_name, span.comment_name {
    color: #F8938A;
    margin-bottom: 0.25em;
}
p.comment_time, span.comment_time {
    font-size: 13px;
    margin: 0.25em 0;
}
.comment_text {
    font-size: 17px;
}

textarea {
    width: 100%;
    height: 80px;
}
textarea#shortdes {
    height: 155px;
}


/* --------------------------------------------------------------------------- */
/* project details page*/
.post_wrapper {
    width: 100%;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-column-gap: 35px;
    grid-row-gap: 0;
}

.post_left {
    grid-column: auto / span 2;
}




/* --------------------------------------------------------------------------- */
